@font-face {
    font-family: Arial_Rounded;
    src: url(../MerchantCopy-GOXq\ Kopie.ttf);
  }
  
  body {
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial_Rounded;
    background-color: rgb(255, 255, 255);
    position: relative;
    font-size: 30px;
    overflow-x: hidden;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-bottom: 300px;
    position: fixed;
    margin-left: 20px;
    
  }
  
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding-bottom: 300px;
    color: rgb(37, 36, 47);
    position: relative;
    z-index: 1;
    margin-top: 50px;
    margin-right: 400px;
    margin-left: 20px;
  }
  
  .image {
    width: 300px;
  }
  
  a {
    color: rgb(0, 0, 0);
    font-size: 30px;
  }
  
  /* Styling für alle SVGs */
  svg {
    position: fixed;
    z-index: 2; /* Höher als der Container */
    opacity: 40%;
    pointer-events: none;
  }
  
  /* Erstes SVG positionieren und skalieren */
  .svg1 {
    top: 0; /* Abstand von oben */
    left: 300px; /* Abstand von links */
    width: 500px;
    height: auto;
    
  }
  
  /* Zweites SVG positionieren und skalieren */
  .svg2 {
    top: 200px; /* Verschiebe es weiter nach unten */
    left: 50px; /* Abstand von links */
    width: 500px; /* Reduzierte Breite */
    height: auto;
  }
  
  .svg3 {
    top: 80px; /* Verschiebe es weiter nach unten */
    left: 900px; /* Abstand von links */
    width: 500px; /* Reduzierte Breite */
    height: auto;
    opacity: 100%;
  }
  .svg4 {
    top: -10px; /* Verschiebe es weiter nach unten */
    left: 800px; /* Abstand von links */
    width: 200px; /* Reduzierte Breite */
    height: auto;
    opacity: 100%;
    display: none;
  }

  .svg5 {
    top: -200px; /* Verschiebe es weiter nach unten */
    left: 60px; /* Abstand von links */
    width: 2000px; /* Reduzierte Breite */
    height: auto;
    opacity: 100%;
  }

  .svg6 {
    top: 0px; /* Verschiebe es weiter nach unten */
    left: 60px; /* Abstand von links */
    width: 800px; /* Reduzierte Breite */
    height: auto;
    opacity: 100%;
  }

  path {
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
  }
  
  .animated-path {
    animation: draw 230s linear forwards;
    stroke: #1a7000; /* Grün */
    animation-iteration-count: 1;
  }
  
  .animated-path2 {
    animation: draw 250s linear forwards;
    stroke: #4414f0; /* Lila */
    animation-iteration-count: 1;
  }

  .animated-path3 {
    animation: draw 260s linear forwards;
    stroke: #ff4400; /* Lila */
   
  }

  .animated-path4 {
    animation: draw 300s linear forwards;
    stroke: #000000; /* Lila */
   
  }

  .animated-path5 {
    animation: draw 300s linear forwards;
    stroke: #000000; /* Lila */
   
  }

  .animated-path6 {
    animation: draw 400s linear forwards;
    stroke: #000dff; /* Lila */
   
  }
  
  @keyframes draw {
    from {
      stroke-dasharray: 0, 500;
    }
    to {
      stroke-dasharray: 500, 0;
    }
  }
  